<a href="https://colab.research.google.com/github/rezwanqkhan/PyMySQL-MYSQL-Integration-python/blob/main/12weekPythonPymysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For using PyMySQL, you need to install it in your environment
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
# Import PyMySQL library
import pymysql as sql
# the following information added from https://onecompiler.com/studio/mysql
# Establish a connection to the MySQL database
# Replace the host, user, password, db, and port with your own MySQL connection details
connect = sql.connect(
    host='ocdb.app',
    user='user_42bqvnf2k',
    password='p42bqvnf2k',
    db='db_42bqvnf2k',
    port=5051
)

# Create a cursor object to execute SQL queries
cur = connect.cursor()

# Example SQL queries
empl = 'SELECT * FROM employees'  # Select all columns from the employees table
names = 'SELECT first_name FROM employees'  # Select only the first_name column from the employees table
male = 'SELECT * FROM employees WHERE '  # Incomplete query, needs a condition

# Execute the SQL query to select first names from the employees table
cur.execute(names)

# Fetch all the results from the executed query
output = cur.fetchall()

# Print the output
for i in output:
    print(i)

# Close the connection (uncomment if you're not using the connection further)
# connect.close()

('John',)
('Jane',)
('Robert',)
('Amanda',)
('Michael',)
('Sara',)
('Daniel',)
('Megan',)
('Christopher',)
('Olivia',)
('Elena',)
('Ahmed',)
('Maria',)
('Tariq',)
('Sofia',)
('Jamal',)
('Isabella',)
('Naveed',)
('Aisha',)
('Marcus',)

In [ ]:
# conect = sql.connect(
#     host = 'ocdb.app',
#     user = 'user_42bqvnf2k',
#     password= 'p42bqvnf2k',
#     db = 'db_42bqvnf2k',
#     port= 5051
# )
# Create a cursor object to execute SQL queries
cursorObject = connect.cursor()

# Create a new table named 'Result1'
studentRecord = """
CREATE TABLE Result1(
  NAME VARCHAR(20) NOT NULL,
  BRANCH VARCHAR(50),
  ROLL INT NOT NULL,
  SECTION VARCHAR(5),
  AGE INT
)
"""

# Execute the SQL query to create the new table
cursorObject.execute(studentRecord)

# Close the connection to the MySQL database
connect.close()

In [ ]:
# Establish a connection to the MySQL database
# Replace the host, user, password, db, and port with your own MySQL connection details
connect = sql.connect(
    host='ocdb.app',
    user='user_42bqvnf2k',
    password='p42bqvnf2k',
    db='db_42bqvnf2k',
    port=5051
)

# SQL query to insert data into the Result1 table
sqlInsert = 'INSERT INTO Result1(NAME, branch, ROLL, SECTION, AGE) VALUES ("AHMET", "COMPUTER SCIENCE",80, "MATH", 21)'

# SQL query to update the name in the Result1 table
sqlupdate = 'UPDATE Result1 SET NAME="Mehmet" WHERE Name = "Ahmet"'

# Create a cursor object to execute SQL queries
mycursor = connect.cursor()

# Execute the SQL query to insert data into the Result1 table
mycursor.execute(sqlInsert)

# Execute the SQL query to update the name in the Result1 table
mycursor.execute(sqlupdate)

# Commit the changes to the database
connect.commit()

# Print the number of rows affected by the update
print(mycursor.rowcount, "details inserted")

# Close the connection to the MySQL database
# connect.close()

1 details inserted

In [ ]:
# for more information https://dev.mysql.com/doc/connector-python/en/connector-python-examples.html
#https://pymysql.readthedocs.io/en/latest/index.html